.menu .header {
    display: flex;
    gap: var(--base-spacing);
    align-items: center;
}

.menu .header svg {
    height: 18px;
}

.header-btn {
    padding: var(--base-spacing);
}

.navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.header .close-btn {
    animation-name: closeBtnAnim;
    animation-duration: 0.5s;
}

.nav-height-object {
    height: var(--nav-height);
}

@keyframes closeBtnAnim {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}