.icon-button {
    height: var(--icon-height);
    width: var(--icon-width);
}

.icon-button-square {
    border-radius: 5px !important;
    padding: 0 !important;
}

.icon-button-xs {
    width: calc(var(--icon-width)/2) !important;
    height: calc(var(--icon-height)/2) !important;
}

.icon-button-xs svg, .icon-button-xs path {
    width: calc(var(--icon-width)/4) !important;
}

.icon-button svg, .icon-button path {
    fill: var(--light) !important;
}

.icon-button-on {
    background: var(--primary-color) !important;
}

.icon-button-off {
    background: var(--text-light) !important;
}