.background-item {
    width: 100%;
    height: 100vh;
    padding: var(--base-spacing) var(--xxl-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.background-item.nav-height {
    height: calc(100vh - var(--nav-height));
}

.background-item.center-text {
    text-align: center;
}